In [1]:
import seaborn as sns

iris = sns.load_dataset('iris')

L'objectif de cet exercice est de réaliser un EDA sur la base de données Iris avec comme variable cible, le type de fleurs.

In [4]:
iris.head()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

# species = target