In [31]:
import pandas as pd
import seaborn as sns

iris = sns.load_dataset('iris')

L'objectif de cet exercice est de réaliser un EDA sur la base de données Iris avec comme variable cible, le type de fleurs.

In [27]:
display(iris.head())
display(iris.tail())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

# <center><u>EDA : Exploratory Data Analysis</u></center>
Comprendre et explorer les données, telles qu'elles sont actuellement.

Doit être fait avant le Machine Learning:
- voir si elles sont propres
- voir les types de caractéristiques
- voir si les caractéristiques sont compréhensibles
- voir si les caractéristiques peuvent-elles être réduites/supprimées pour éviter le gonflement

In [28]:
display(iris.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

None

In [29]:
display(iris.dtypes)

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [30]:
iris["species"].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [16]:
INFO = pd.concat([iris.dtypes, iris.nunique(), iris.count()], axis = 1)
INFO.columns = ['dtypes', 'nunique', 'sum']
INFO

               dtypes  nunique  sum
sepal_length  float64       35  150
sepal_width   float64       23  150
petal_length  float64       43  150
petal_width   float64       22  150
species        object        3  150

In [32]:
iris.shape

(150, 5)

# species = target